/vendor
/.idea
/.vscode
/.phpdoc
composer.phar
composer.lock
.DS_Store
Thumbs.db
.phpunit.result.cache
phpunit.xml
.php_cs
.php_cs.cache
build
coverage
docs
psalm.xml
testbench.yaml
node_modules
.php-cs-fixer.cache
